.text-color{
    color: white;
}
.text-headers-color{
    color: rgb(128, 128, 255);
    
}

.btn-primary{
    background-color: rgb(128, 128, 255);
   color: black;
 
}
.space-between-buttons {
    margin-right: 8px;
    margin-left: 10px;
}

.style-table{
    background-color: black;
    color: white;
    border-color: white;
}

.active{
    background-color: rgb(128, 128, 255);
    color: black;
}

.pagination{
    background-color: transparent;
    color: black;
}
