<div class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-8 bg-black shadow-sm fixed-top">
  <img src="/assets/logo2.png" style="max-height: 70px;" alt="logo">
  <nav class="my-2 my-md-0 mr-md-3 " style="font-size: larger;" >
    <a class="p-2 text-light change-color" routerLink="'/'" routerLinkActive="active" routerLinkActiveOptions="{exact: true}" >Home</a>
    <a class="p-2 text-light" routerLink="/about" routerLinkActive="active">About us</a>
    <a class="p-2 text-light" routerLink="/support" routerLinkActive="active">Support</a>
    <a class="p-2 text-light" routerLink="/anime-library" routerLinkActiveOptions="{exact:true}">Anime Library</a>
  </nav>
  <div class="d-flex align-items-center">
    <ng-container *ngIf="(currentUser$ | async) === null">
      <a routerLink="/account/login" class="btn btn-outline-secondary mr-2 text-light btn-space" href="#">Sign in</a>
      <a routerLink="/account/register" class="btn btn-outline-secondary mr-3 text-light" href="#">Sign up</a>
    </ng-container>
    <ng-container *ngIf="(currentUser$ | async) as user" >
      <div class ="dropdown ml-3 mr-5" dropdown>
        <a class="dropdown-toggle" style="cursor: pointer" dropdownToggle>
          <strong>Welcome {{user.firstName}}</strong></a>
        <div class="dropdown-menu dropdown-menu-right text-light" style="cursor: pointer; background-color: black;" *dropdownMenu> 
          <a  routerLink="#" class="dropdown-item d-flex align-items-center py-2">
            <i class="fa fa-shopping-history mr-3"></i> My Anime List
          </a>
          <div class="dropdown-divider"></div>
          <a (click)="logout()" class="dropdown-item d-flex align-items-center py-2">
            <i class="fa fa-sign-out mr-3"></i> Logout
          </a>
        </div>
      </div>

    </ng-container>
  </div> 
</div>