a{
    text-decoration: none;
    color: white;
    &.active{
        text-decoration: overline;
    }
}


.cart-no{
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    font-size: 1em;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    top: -12px;
    right: -12px;

}

.btn-space {
    margin-right: 10px;
}



