<div class="row" *ngIf="anime">
    <div class="col-6">
        <img class="img-fluid w-100 "
         data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" 
         alt="Thumbnail [100%x225]" 
         src="../../../assets/{{anime.title|titlecase}}.jpg" 
         data-holder-rendered="true" 
         style="height: auto; width: 30%; display: block;">
    </div>
    <div class="col-6">
        <h3>{{anime.title}}</h3>
        <p>{{anime.studio.name}}</p>
        <div class="col-12 ml-3 mt-3">
            <h4>Description</h4>
            <p>{{anime.description}}</p>
        </div>
        <ng-container *ngIf="(currentUser$ | async) !== null">
            <div *ngIf="viewComment" style="color: rgb(128, 128, 255);">
                <div *ngIf="!isCommented && dataSubmited===false">
                <div *ngIf="!isFetched">
                    <button  (click)="getUserAnime()" class="btn btn-outline-secondary btn-lg">Click here</button> 
                </div>

                <div *ngIf = "isFetched===true">
                        <form #postForm="ngForm" (ngSubmit)="onComment(postForm.value)">
                            <div class="form-group">
                            <label for="comment">Add your comment</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="comment"
                                    required
                                    ngModel
                                    name="comment"
                                    style="width: 60%; height: 200%;"
                                />
                            </div>
                            <button
                            class="btn btn-primary"
                            type="submit"
                            [disabled]="!postForm.valid"
                            >
                            Send Comment
                            </button>
                        </form> 
                </div>

                </div>

                <div *ngIf="isFetched===true && dataSubmited===true">

                    <div *ngIf="!isCommented">
                    <button class="btn btn-primary" (click)="getComment()">
                        View Comment
                    </button>
                    </div>

                    <div *ngIf="isCommented">
                        {{currentUserAnime2.user.firstName}}'s comment : {{currentUserAnime2.comment}}
                    </div>

                </div>
            </div>
        <div *ngIf="!viewComment">
            <button (click)="addAnimeToUser()" (click)="viewCommentFunction()" class="btn btn-outline-secondary btn-lg">Add to Your Library</button> 
        </div>
        </ng-container>
    </div>
    
</div>
